<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="MaxCapacity" value="5"/>
    <add key="MaxDownloadingTIme" value="3"/>
    <add key="MinWaitTime" value="0"/>
    <add key="MaxWaitTime" value="5"/>
    <add key="DefaultImage" value="Resources\etl.jpg"/>
  </appSettings>
  
</configuration>